{% extends 'base.html.twig' %}

{% block title %}Technos index{% endblock %}

{% block body %}
{% include 'header_admin.html.twig'%}

<main class = "m-2 p-2 box-grey-t">
    <h2>Technos index</h2>

    <table class="table box-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ImgFile</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for techno in technos %}
            <tr>
                <td>{{ techno.id }}</td>
                <td>{{ techno.nom }}</td>
                <td>{{ techno.imgFile }}</td>
                <td>{{ techno.description }}</td>
                <td>
                    <a href="{{ path('app_technos_show', {'id': techno.id}) }}">show</a>
                    <a href="{{ path('app_technos_edit', {'id': techno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_technos_new') }}">Create new</a>
{% endblock %}
