/* Image dans la /page /banniere /box ******************/
body-Admin {
  /* min-height: 100vh; */
  user-select: none;
  background: gray;
}

header-Admin {
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px 20px;
  background: url( ../ASSET/ImagesBDD/web.webp )
    center/cover no-repeat;
}