/* Temporaire *** Eliminer ***********/
.bord-red {
  border: 2px solid red;
}
/* * {
  border: 2px dotted red;
}  */
/* Styles ANNULES ************************************/
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline;
} */
p, h1,h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
} */

ol, ul {
  list-style: none;
}
/* 
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* ***  Styles communs ******************************* */
/*  Taille dx 
    Marge int ext
    Centrage auto / txt
    Centrage div
*/

.dx40 {
  width: 40%;
}
.dx50 {
  width: 50%;
}
.dx60 {
  width: 60%;
}
.dx70 {
  width: 60%;
}
.dx90 {
  width: 90%;
}
.dy400px {
  height: 400px;
}

.padding-V10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-H10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-H30 {
  padding-left: 30px;
  padding-right: 30px;
}
/* *** Centrage ******************/
.center-elt {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.div-left {
  margin-left: auto;
  /* margin-right: auto; */
  /* margin: 0 auto; */
}
.center-txt {
  text-align: center;
}

/* Centrage Div **********************/
.flex {
  display: flex;
  flex-wrap: wrap;
}
.ligne {
  display: flex;
  flex-direction: row;
}
.colonne {
  display: flex;
  flex-direction: column;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex4 {
    flex: 4;
}

.axe1-start {
  justify-content: flex-start;
}
.axe1-center {
  justify-content: center;
}
.axe1-sp-around {
justify-content: space-around;
}
.axe1-sp-between {
justify-content: space-between;
}
.axe2-center {
  align-items: center;
}


/* *** Styles commun à Charte Graphique Simplon ************/
.bord-red {
  border-top: 2px solid red;
  border-radius: 10px;
}


/* *** Styles particulier *********************/
.img-medium {  
  height: 140px;
  width: 160px;
  object-fit:contain;
}

.img-small {
  height: 100px;
  width: 110px;
  object-fit:contain;
}

/* Image dans la /page /banniere /box ******************/
body {
  /* min-height: 100vh; */
  user-select: none;
  background: url( ../ASSET/ImagesBDD/web.webp )
    center/cover no-repeat;
}

header {
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px 20px;
}


/* box: color + border +/- transparence gradient ... ******************/
.color-grey {
  background-color: grey;
  /* background-color: rgba(211, 211, 211, 0.777); */
}
.box-white {
  border-radius: 2px solid bleu;
  background-color: white;
}

.box-grey-t {
  border: 1px solid red;
  border-radius: 2px;
  background-color: rgba(211, 211, 211, 0.777);
}
.box-grey-tt {
  border: 1px solid red;
  border-radius: 2px;
  background-color: rgba(211, 211, 211, 0.33);
}


/* PARTIE ADMIN ******************************************************************/
/* Image dans la /page /banniere /box ******************/

.body-Admin {
  /* min-height: 100vh; */
  user-select: none;
  background: gray;
}

.header-admin {
  border: 2px solid red;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background: url( ../ASSET/ImagesBDD/web.webp )
    center/cover no-repeat;
}