{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA: Compétences{% endblock %}

{% block body %}
<style> {# Local stylesheet #} </style>
{% include 'header.html.twig'%}

<main class = "m-2 p-2 border box-grey-tt">

    <div class="row">

        <div class="col box-grey-t mx-1">
            <h2>Comp. Front End</h2>

            {% for compt in competences|slice(0, 4) %}
                <div class="m-2 p-2 box-grey-t ">
                    <h3>{{ compt.nom }}</h3>
                </div>
            {% endfor %}
        </div>        
        <div class="col box-grey-t mx-1">
            <h2>Comp. Back End</h2>

            {% for compt in competences|slice(4, 7) %}
                <div class="m-2 p-2 box-grey-t ">
                    <h3>{{ compt.nom }}</h3>
                </div>
            {% endfor %}
        </div>

    </div>
</main>
{% endblock %}