{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA: Langages{% endblock %}

{% block body %}
<style> {# Local stylesheet #} </style>
{% include 'header.html.twig'%}

<main class="m-2 p-2 box-grey-tt">

    <h2 class="box-grey-t">Langages</h2>

    <div class="flex">
    {% for lang in langages %}
        <div class="m-2 p-2 box-grey-t ">
            <div class="col">
                <img class="img-medium" src='./ASSET/ImagesBDD/{{ lang.imgFile }}' alt="imglang">
                <div class="col">
                    <h3>{{ lang.nom }}</h3>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</main>

{% endblock %}
