{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA Web Dev{% endblock %}

{% block body %}
<style> {# Local stylesheet #} </style>
{% include 'header.html.twig'%}

<main class="m-2 p-2 border box-grey-tt">
    {# <div class="row"> #}
    {# Occupe toute la place...?§
    Rajouter dx100 ? Non
    Rajouter m et p >2 #}
    <div class="row">    
        <div class="m-2 p-2 col flex1 box-grey-t">
            <h2>CV</h2>
            <h2>Présentation</h2>
            <h2>Compétences Métiers</h2>
            <h2>Compétences Techniques</h2>
            <h2>Expériences</h2>
            <h2>Dilpomes - Formations</h2>
            <h2>Centres d'intérêts</h2> 
        </div>
        
        <div class="m-2 p-2 col flex4 box-grey-t">
            <h2>CV Détail 1</h2>
            <h2>CV Détail 2</h2>
            <h2>CV Détail 3</h2>
        </div>
    </div>


</main>
{% endblock %}
