{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA WebDev: Admin{% endblock %}

{% block body %}
<link rel="stylesheet" href="../CSS/stylesA.css">
<style> </style>

{% include 'header_admin.html.twig'%}

<main class = "m-2 p-2 box-grey-t">
    <h2>Espace Admin</h2>
</main>

{% endblock %}
