{% extends 'base.html.twig' %}

{% block title %}Langages index{% endblock %}

{% block body %}
{% include 'header_admin.html.twig'%}

<main class = "m-2 p-2 box-grey-t">
    <h2>Langages index</h2>

    <table class="table box-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ImgFile</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langage in langages %}
            <tr>
                <td>{{ langage.id }}</td>
                <td>{{ langage.nom }}</td>
                <td>{{ langage.imgFile }}</td>
                <td>{{ langage.description }}</td>
                <td>
                    <a href="{{ path('app_langages_show', {'id': langage.id}) }}">show</a>
                    <a href="{{ path('app_langages_edit', {'id': langage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_langages_new') }}">Create new</a>
</main>
{% endblock %}
