{% extends 'base.html.twig' %}

{% block title %}Competences index{% endblock %}

{% block body %}
{% include 'header_admin.html.twig'%}

<main class = "m-2 p-2 box-grey-t">
    <h2>Competences index</h2>

    <table class="table box-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ImgFile</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.nom }}</td>
                <td>{{ competence.imgFile }}</td>
                <td>{{ competence.description }}</td>
                <td>
                    <a href="{{ path('app_competences_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('app_competences_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competences_new') }}">Create new</a>
<main>
{% endblock %}
