{% extends 'base.html.twig' %}

{% block title %}Competences{% endblock %}

{% block body %}
    <h1>Competences</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ competence.nom }}</td>
            </tr>
            <tr>
                <th>ImgFile</th>
                <td>{{ competence.imgFile }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competence.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_competences_index') }}">back to list</a>

    <a href="{{ path('app_competences_edit', {'id': competence.id}) }}">edit</a>

    {{ include('competences/_delete_form.html.twig') }}
{% endblock %}
