<header class = "m-2 p-2 bord-red">

    <h1 class="dx70 div-left mb-1 box-grey-t center-txt"> Cyril GALERA Web Dev - Espace Admin -</h1>

    {# bootstrap navbar ==================  #}
    <nav class="dx70 div-left mt-1 box-grey-t d-flex justify-content-around">   
        {# <img class="logo" src="./images/logo.jpg" alt="logo" /> #}
        <ul class="nav justify-content-end navcolor" >
            <a class="nav-link active color" href="{{ url('app_projets_index') }}"><li class='nav-item'>Projets</li></a>
            <a class="nav-link active color" href="{{ url('app_competences_index') }}"><li class='nav-item'>Compétences</li></a>
            <a class="nav-link active color" href="{{ url('app_langages_index') }}"><li class='nav-item'>Langages</li></a>
            <a class="nav-link active color" href="{{ url('app_technos_index') }}"><li class='nav-item'>Technos Outils</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_logout') }}"><li class='nav-item'>Se deconnecter</li></a>
        </ul>
    </nav> 

    {# Cyril navbar perso a faire ==================  #}
    {# <nav class="dx100 padding-10">
        <ul class="ligne">
            <li class="padding-10">
                <a class="" href="./v1_cv.php">CV</a>
            </li>
            <li class="padding-10">

                <a class="" href="./v1_projets.php">Projets</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_competences.php">Compétences</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_langages.php">Langages</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_technos.php">Techno</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v2_accueil_admin.php">Admin</a>
            </li>
        </ul>
    </nav> #}


</header>
        