<header class = "m-2 p-2 border">

    <h1 class="dx50 div-left mb-1 box-grey-t center-txt"> Cyril GALERA Web Dev </h1>

    {# bootstrap navbar ==================  #}
    <nav class="dx70 div-left mt-1 box-grey-t d-flex justify-content-around">   
        {# <img class="logo" src="./images/logo.jpg" alt="logo" /> #}
        <ul class="nav justify-content-end navcolor" >
            <a class="nav-link active color mx-1" href="{{ url('app_index') }}"><li class=''>CV</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_v1_projets') }}"><li class='nav-item'>Projets</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_v1_competences') }}"><li class='nav-item'>Compétences</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_v1_langages') }}"><li class='nav-item'>Langages</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_v1_technos') }}"><li class='nav-item'>Technos Outils</li></a>
            <a class="nav-link active color mx-1" href="{{ url('app_login') }}"><li class='nav-item'>Admin</li></a>
        </ul>
    </nav> 

    {# Cyril navbar ==================  #}
    {# <nav class="dx100 padding-10">
        <ul class="ligne">
            <li class="padding-10">
                <a class="" href="./v1_cv.php">CV</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_projets.php">Projets</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_competences.php">Compétences</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_langages.php">Langages</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v1_technos.php">Techno</a>
            </li>
            <li class="padding-10">
                <a class="" href="./v2_accueil_admin.php">Admin</a>
            </li>
        </ul>
    </nav> #}


</header>
        