{% extends 'base.html.twig' %}

{% block title %}Projets index{% endblock %}

{% block body %}
{% include 'header_admin.html.twig'%}

<main class = "m-2 p-2 box-grey-t">
    <h2>Projets index</h2>

    <table class="table box-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ImgFile</th>
                <th>Description</th>
                <th>Visible</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.imgFile }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.visible ? 'Yes' : 'No' }}</td>
                <td>{{ projet.note }}</td>
                <td>{{ projet.commentaire }}</td>
                <td>
                    <a href="{{ path('app_projets_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projets_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projets_new') }}">Create new</a>
</main>
{% endblock %}
