{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Projets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>ImgFile</th>
                <td>{{ projet.imgFile }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ projet.visible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ projet.note }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ projet.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projets_index') }}">back to list</a>

    <a href="{{ path('app_projets_edit', {'id': projet.id}) }}">edit</a>

    {{ include('projets/_delete_form.html.twig') }}
{% endblock %}
