{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA: Projets{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<style> 
    {# Local stylesheet #}
    .carousel {
        background: #EEE;
    }
    .carousel-cell {
        width: 20%;
        height: auto;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
    /* cell number */
    .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
</style>

{% include 'header.html.twig'%}

<main class = "m-2 p-2 border">
    
    <h2>Caroussel: </h2>

    <div class="carousel" data-flickity>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        
    </div>

</main>
<footer class="m-2 p-2">
    <p>Copyrigth Cyril GALERA</p>
</footer>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}