{% extends 'base.html.twig' %}

{% block title %}Cyril GALERA: Projets{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<style> 
    {# Local stylesheet #}
    .carousel {
        background: #EEE;
    }
    .carousel-cell {
        width: 20%;
        height: auto;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
    /* cell number */
    .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
</style>

{% include 'header.html.twig'%}

<main class = "m-2 p-2 box-grey-tt">
    
    <h2 class="box-grey-t">Projets </h2>

    {% for projet in projets %}
        {% if (projet.visible !=  false) %}
        <div class="dx100 ligne m-2 p-2 box-grey-t ">
            <div class="colonne flex1 axe1-sp-around axe2-center ">
                <img class="img-medium" src='../ASSET/ImagesBDD/{{ projet.imgFile }}' alt="imgProjet">
            </div>
            <div class="colonne flex4">
                <div class="ligne axe1-sp-around axe2-center ">
                    <div class="col m-2">
                        <h3>{{ projet.nom }}</h3>
                        <p>{{ projet.description }}</p>
                    </div>
                    <div class="col m-2">
                        <h4>projet.lienGit</h3>
                        <h4>projet.lienGit</h3>
                    </div>
                    <div class="col m-2">
                        <h4>Compétences utilisé</h3>
                        <h3>Front: for each 0a4</h3>
                        <h3>Back: for each 4a8</h3>
                    </div>
                </div>
                <div class="ligne axe1-sp-around axe2-center ">
                    <h3> for each tech ... </h3>
                </div> 
                <div class="ligne axe1-sp-around axe2-center ">
                    <h3> for each lang ... </h3>
                </div> 
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="carousel" data-flickity>
        {% for projet in projets %}
            <div class="carousel-cell">
                <a class="" href="{{ url('app_v1_technos') }}">
                    <img class="img-medium" src='../ASSET/ImagesBDD/{{ projet.imgFile }}' alt="imgProjet">
                    <h3>{{ projet.nom }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>

            
    
</main>
<footer class="m-2 p-2">
    <p>Copyrigth Cyril GALERA</p>
</footer>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}

        
        