{% extends 'base.html.twig' %}

{% block title %}Hello V1ProjetsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/PHP_2022/03i_Cyril_WebDev/src/Controller/V1ProjetsController.php'|file_link(0) }}">src/Controller/V1ProjetsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/PHP_2022/03i_Cyril_WebDev/templates/v1_projets/index.html.twig'|file_link(0) }}">templates/v1_projets/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
